.teleport {
  font-family: Apercu;
  font-size: 60px;
  font-weight: 500;
  color: #4c4c4c;
  &__logo {
    padding-top: 125px;
    &__img {
      width: 200px;
      height: 200px;
    }
  }
  &__text {
    font-size: 50px;
    &__href {
      color: #1acfff;
      text-decoration:none;
    }
  }
  &__templates {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  &__footer {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
